@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

/* 左侧 map */
#map-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#original-map {
  margin-left: 30px;
}

#map-container {
  height: inherit;
  overflow-y: scroll;
  margin: 0 0 20px 20px;
  border: 1px black solid;
  position: relative;
}

#map,
#poem,
#original-map {
  transition: 666ms ease-out;
}

#poem {
  height: 10.5vh;
  line-height: 10.5vh;
}

#moving-block {
  width: 2vw;
  /* border: 1px solid black; */
  border-bottom: none;
  height: 2vw;
  top: 0.25vw;
  left: 0.25vw;
  background: #4e7ca1;
  position: absolute;
  z-index: 1;
}

.map-block {
  width: 2.5vw;
  border-bottom: none;
  height: 2.5vw;
}

.original-map-block {
  border: 2px solid black;
  width: 2.5vw;
  height: 2.5vw;
  border-bottom: none;
}

.original-map-block:nth-child(odd) {
  border-left: none;
}

.original-map-block:nth-child(even) {
  border-left: none;
}

.original-map-block:nth-child(1) {
  border-left: 2px solid black;
}

.original-map-row:last-child {
  border-bottom: 2px solid black;
}

/* 右侧及底部 */

p {
  height: 11vh;
  line-height: 11vh;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 2.5vw;
}

progress {
  transition: 1s ease-in-out;
}

.form-control {
  margin: 8vh 0 3vh 0;
  flex-direction: column;
  justify-content: space-between;
}

.rule-border {
  border-color: hsla(var(--bc) / var(--tw-border-opacity, 1));
  border-width: 1px;
  border-radius: var(--rounded-btn, 0.5rem);
  --tw-border-opacity: 0.2;
}

#alert {
  transition: 100ms ease-in-out;
}
