@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
}

html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

p {
  height: 11vh;
  line-height: 11vh;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 2.5vw;
}

progress {
  transition: 1s ease-in-out;
}

.form-control {
  margin: 8vh 0 3vh 0;
  flex-direction: column;
  justify-content: space-between;
}

#map {
  margin: auto 0 auto 20px;
}

.map-block {
  width: 2.5vw;
  border: 1px solid black;
  border-bottom: none;
  height: 2.5vw;
}

.map-block:nth-child(odd) {
  border-left: none;
}

.map-block:nth-child(even) {
  border-left: none;
}

.map-block:nth-child(1) {
  border-left: 1px solid black;
}

.map-row:last-child .map-block {
  border-bottom: 1px solid black;
}

.rule-border {
  border-color: hsla(var(--bc) / var(--tw-border-opacity, 1));
  border-width: 1px;
  border-radius: var(--rounded-btn, 0.5rem);
  --tw-border-opacity: 0.2;
}

#alert {
  transition: 100ms ease-in-out;
}

#map,
#poem {
  transition: 666ms ease-out;
}
