@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

/* 左侧 map */
#map-wrapper {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#map-container {
  height: inherit;
  overflow-y: scroll;
  position: relative;
}

#map,
/* #poem, */
#original-map,
#view-area,
#back {
  transition: 666ms ease-out;
}

/* #poem {
  height: 10.5vh;
  line-height: 10.5vh;
} */

#moving-block {
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  z-index: 1;
}

.map-block {
  overflow: hidden;
  width: 2.5vw;
  height: 2.5vw;
  border-bottom: none;
}

.map-block.ice,
.map-block.sand,
.map-block.green {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-block.ice {
  background-image: url(./assets/img/bg/ice.png);
}

.map-block.sand {
  background-image: url(./assets/img/bg/sand.png);
}

.map-block.green {
  background-image: url(./assets/img/bg/green.png);
}

.original-map-block {
  box-sizing: border-box;
  border: 2px solid black;
  width: 2.5vw;
  height: 2.5vw;
  border-bottom: none;
}

.original-map-block:nth-child(odd) {
  border-left: none;
}

.original-map-block:nth-child(even) {
  border-left: none;
}

.original-map-block:nth-child(1) {
  border-left: 2px solid black;
}

.original-map-row:last-child {
  border-bottom: 2px solid black;
}

/* 右侧及底部 */
p {
  height: 11vh;
  line-height: 11vh;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 2.5vw;
}

progress {
  transition: 1s ease-in-out;
}

.form-control {
  margin: 8vh 0 3vh 0;
  flex-direction: column;
  justify-content: space-between;
}

.rule-border {
  border-color: hsla(var(--bc) / var(--tw-border-opacity, 1));
  border-width: 1px;
  border-radius: var(--rounded-btn, 0.5rem);
  --tw-border-opacity: 0.2;
}

#alert {
  transition: 100ms ease-in-out;
}

#original-map,
#map-container {
  margin-top: 10.5vh;
}

/* 对话框 */
.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18em;
  background-color: rgba(100, 100, 100, 0.5);
}

.dialog.hidden {
  display: none;
}

.dialog-content {
  border: 1px solid;
  padding: 1.2em 0.9em;
  font-size: 1.1em;
}

.dialog-content p {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: initial;
  text-align: initial;
  font-size: initial;
  font-family: initial;
  /* 使 markdown codeblock 能够正常显示水平滚动条 */
  overflow-x: auto;
}

.dialog-content p::-webkit-scrollbar {
  display: block;
  height: 10px;
  background-color: #eee;
}

.dialog-content p::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[class^="dialog-action-"] {
  flex: 1;
  border: 1px solid;
  padding: 0.4em 0.4em;
  text-align: center;
  cursor: pointer;
}

/* 角色 NFT */
#character-nft .dropdown-option {

}

#character-nft .character-avatar {
  padding-bottom: 100%;
  position: relative;
}

#character-nft .character-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 其他 */
#view-area,
#character-nft,
#mint-area {
  margin: 0;
}

#back,
#generate {
  margin-bottom: 0;
}